<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @material.title %>
</p>

<p>
  <b>File:</b>
  <%= @material.file %>
</p>

<%= link_to 'Edit', edit_tour_material_path(@tour, @material) %> |
<%= link_to 'Back', tour_materials_path(@tour) %>
